<p id="notice"><%= notice %></p>

<h1>Users <%= current_user.email%></h1>
<p>This is your profile</p>
<p>this is your ID: <b><%= current_user.id %></b></p>


<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.user %></td>
        <td><% if task.status == true %>
            This task has been realised
            <% elsif task.status == false %>
          You must do it
          <%end%></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
