<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user.email %>
</p>
  <strong>Date:</strong>
  <p><%= "Created the #{@task.created_at.strftime("%m-%d-%Y")}" %></p>
  <p><%= "#{distance_of_time_in_words(@task.created_at + 7.days, Time.now, include_seconds: false)} left." %>
  <% if @task.created_at < @task.created_at - 6.days %>
     <p>NOOOOOOOOOOOOOOOOOOOOOO RUUUSH</p>
    <% else %>
    <p>Chill out - Take your time </p>
    <%end%></p>
<p>
  <strong>Status:</strong>
  <% if @task.status == true %>
    This task has been realised
    <% elsif @task.status == false %>
  You must do it
  <%end%>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', task_index_path(@task) %>
